<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<p>Welcome {{ctrl.username}} / {{ctrl.password}}</p>
<p>Profil : {{vm.profil}}</p>
<p>Your token id : {{vm.token}}</p>
<button type="submit" class="btn btn-danger" ng-click="vm.logout()">Logout</button>
</body>
</html>